.main-container{
    height: 100vh;
}

.circle{
    position: relative;
    // background-color: #1B0040;
    background: linear-gradient(to bottom right, #9d50bb, #6e48aa);
    top: 20vw;
    width: 24vw;
    height: 24vw;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    animation: zoomin 3s;
    display: flex;
    align-items: center;
}

@keyframes zoomin {
    0%{
        top: 37.5vh;
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
    }
    33%{
        top: 42.5vh;
        width: 30vw;
        height: 30vw;
        border-radius: 50%;
    }
    66%{
        top: 37.5vh;
        width: 50vw;
        height: 50vw;
        border-radius: 50%;
    }
    100%{
        top: 20vw;
        width: 24vw;
        height: 24vw;
    }
}

.logo{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}

.sign-in-head{
    position: relative;
    font-family: 'nunito';
    color: #ffffff;
    top: 15vw;
    width: 100%;
    height: auto;
    font-size: 7vw;
    text-align: center;
}

@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.phone-div{
    position: relative;
    width: 100vw;
    top: 15vw;
    animation: fade-in 0.5s;
}

.cust-number-input{
    position: relative;
    width: 84vw;
    order: 1;
    border: #ffffff solid 1px !important;
    border-radius: 8px;
    background-color: #101010;
    height: 16vw;
    color: #ffffff;
    left: 6.4vw;
    font-family: 'nunito';
    font-size: 6vw;
    padding-left: 2vw;
}

.password-div{
    position: relative;
    width: 100vw;
    top: 20vw;
    animation: fade-in 0.5s;
}

.cust-password-input{
    position: relative;
    width: 84vw;
    border: #ffffff solid 1px;
    border-radius: 8px;
    background-color: #101010;
    height: 16vw;
    color: #ffffff;
    left: 6.4vw;
    font-family: 'nunito';
    font-size: 6vw;
    padding-left: 2vw;
}

.pass-icon{
    position: absolute;
    right: 10vw;
    top: 5vw;
    color: #ffffff;
}

.verify-button{
    top: 25vw;
    position: relative;
    width: 87.2vw;
    height: 16vw;
    left: 6.4vw;
    font-size: 6vw;
    font-family: 'nunito';
    color: #ffffff !important;
    background: linear-gradient(to bottom right, #9d50bb, #6e48aa);
}

.or-line{
    position: relative;
    top: 25vw;
}

#or{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-size: 6vw;
    font-family: 'nunito';
  }
  #or:before, #or:after{
    content: "";
    left: 6.4vw;
    flex: 1 1;
    border-bottom: 1px #ffffff solid;
    margin: auto;
    margin-left: 6.4vw;
    margin-right: 6.4vw;
    color: #ffffff;
    font-size: 7vw;
  }
  #or:before {
    margin-right: 10px
  }
  #or:after {
    margin-left: 10px
  }

.otp-div{
    position: absolute;
    width: 100vw;
    top: 40vh;
    opacity: 0;
    animation: fade-out 0.5s;
}
@keyframes fade-out {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.otp-box{
    position: relative;
    text-align: center;
    top: 2vw;
    font-size: 7vw;
}

.otp-button{
    margin-top: 5vw;
    position: relative;
    width: 64vw;
    height: 15vw;
    left: 18vw;
    font-size: 6vw;
    font-family: 'nunito';
    color: #ffffff !important;
    background-color: #1B0040 !important;
}


.circle-down{
    position: relative;
    background-color: #1B0040;
    top: 92vh;
    width: 100vw;
    height: 18vw;
    display: flex;
    align-items: center;
    animation: slide-up 1s;
}

@keyframes slide-up {
    0%{
        position: relative;
        background-color: #1B0040;
        top: 20vh;
        width: 15vh;
        height: 15vh;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        animation: zoomin 3s;
        display: flex;
        align-items: center;
    }
    100%{
        position: relative;
        background-color: #1B0040;
        top: 92vh;
        margin-left: auto;
        margin-right: auto;
        width: 100vw;
        height: 18vw;
        animation: slide-up 1s;
    }
}

.logo-right{
    position: fixed;
    top: 2vw;
    right: 4.4vw;
    width: 14vw;
    height: 14vw;
    animation: logo-slide 1s;
}
@keyframes logo-slide {
    0%{
        position: absolute;
        top: 22vh;
        right: 33.5vw;
        width: 26vw;
        height: 26vw;
    }
    100%{
        position: fixed;
        top: 2vw;
        right: 4.4vw;
        width: 14vw;
        height: 14vw;
    }
}