<div class="main-container">
    <!-- Logo -->
    <div [class]="otpVerified?'circle-down':'circle'">
        <img *ngIf="!otpVerified" class="logo" src="assets/images/logo/logo.png" alt="">
    </div>

    <img *ngIf="otpVerified" class="logo-right" src="assets/images/logo/logo.png" alt="">

    <form [formGroup]="loginForm">
        
        <!-- Enter Phone Number -->
        <div *ngIf="askPhoneNumber">
            <p class="sign-in-head">Sign In</p>
            <div class="phone-div">
                <input matInput class="cust-number-input" placeholder="Enter Phone Number" formControlName="phone" min="1000000000" oninput="javascript: if (this.value.length > 10) this.value = this.value.slice(0, 10);" type="number">
            </div>

            <div class="password-div">
                <input matInput class="cust-password-input" placeholder="Enter Password" formControlName="password" style="color: #ffffff !important;" type="password">
            </div>
            <button mat-raised-button class="verify-button" (click)="verifyCust()">Verify</button>
            <p id="or" class="or-line">OR</p>
            <button mat-raised-button class="verify-button" (click)="signUp()">Sign Up</button>
        </div>
    </form>
</div>